<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @pageTitle %></title>
  <%= stylesheet_link_tag @css %>
  <%= csrf_meta_tags %>
</head>
<body>

        <div class="header">
            <span><h1>Zhemin Mi</h1></span>
            <span><h2>CS142 Project <%= $project_number %></h2></span>
        </div>

<%= yield %>

</body>
</html>
